/*------------------------------------*\
  $$ Mugshots
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Imports
 * Global Reset & Standards
 * Variables 
 */
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Mugshots - Variables
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Padding
 * Colours
 * Borders
 * Fonts
 */
/*------------------------------------*\
  $ Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Fonts
\*------------------------------------*/
/*------------------------------------*\
  $ Global Reset & Standards
\*------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/
body {
  background: #aedbe4;
  /* #E0C598 */

}
.page-header {
  overflow: hidden;
}
.inner-page-header {
  margin: 0 auto;
  position: relative;
  /* Bring the mug image in line with the inner-wrapper */

  left: -10px;
  max-width: 800px;
}
.inner-wrapper {
  padding: 0 18px;
  margin: 0 auto;
  max-width: 730px;
}
img {
  width: 100%;
}
/*------------------------------------*\
  $ Headers
\*------------------------------------*/
.content-header {
  min-height: 60px;
  /*background-color: #ddd;*/

}
/*------------------------------------*\
  $ Components
\*------------------------------------*/
/*
Items
*/
.item {
  background-color: #ffffff;
  /*border: @defaultBorderWidth @defaultBorderStyle #6A472B;*/

  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin: 0 0 24px 0;
}
/*------------------------------------*\
  $ Mugshots
\*------------------------------------*/
.mugshot header {
  padding: 12px;
  background-color: #1e3e4f;
  color: #ffffff;
  border-radius: 3px;
  margin-bottom: 12px;
}
/*------------------------------------*\
  $ Lists
\*------------------------------------*/
.no-styling-list {
  margin: 0;
  padding: 0;
}
.no-styling-list li {
  list-style: none;
  line-height: 1.6rem;
}
/*------------------------------------*\
  $ Text
\*------------------------------------*/
.bold {
  font-weight: 800;
}
li span.bold {
  color: #1e3e4f;
}
/*------------------------------------*\
  $ Clearfix
\*------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*------------------------------------*\
  $ Helper classes
\*------------------------------------*/
.left {
  float: left;
}
.right {
  float: right;
}
.padding {
  padding: 12px;
}
.extra-padding {
  padding: 18px;
}
.padding-left {
  padding-left: 12px;
}
.padding-right {
  padding-right: 12px;
}
.margin {
  margin: 12px;
}
.margin-left {
  margin-left: 12px;
}
.margin-right {
  margin-right: 12px;
}
.no-margin {
  margin: 0;
}
.full-width {
  width: 100%;
}
/*------------------------------------*\
  $ Headers
\*------------------------------------*/
h1 {
  font-family: 'Londrina Solid', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  color: #ffffff;
  /* #6A4729 */

  padding-bottom: 0;
  text-shadow: 1px 1px 2px #1e3e4f;
}
h2 {
  display: none;
  color: #1e3e4f;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  width: 100%;
  text-align: right;
  margin-top: -20px;
}
/*------------------------------------*\
  $ Menu Bar
\*------------------------------------*/
.menu-bar {
  margin: 0 0 24px 0;
}
.menu-bar p {
  margin: 0;
  line-height: 2.3rem;
}
/*------------------------------------*\
  $ Forms
\*------------------------------------*/
.form-footer {
  padding: 12px 18px;
  border-top: 1px solid #eeeeee;
  text-align: right;
  background-color: #f9f9f9;
  border-radius: 0 0 3px 3px;
}
.form-footer button {
  margin: 0 !important;
}
.form-footer button[type="clear"],
.form-footer button[type="button"] {
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
/*------------------------------------*\
  $ Media Queries
\*------------------------------------*/
@media (max-width: 767px) {
  /*------------------------------------*\
  	  $ Helper classes
  	\*------------------------------------*/
  .right,
  .left {
    float: none;
  }
}
