/*------------------------------------*\
  $$ Mugshots - Button group
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Imports
 * Button group 
 */
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Mugshots - Variables
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Padding
 * Colours
 * Borders
 * Fonts
 */
/*------------------------------------*\
  $ Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Fonts
\*------------------------------------*/
/*------------------------------------*\
  $ Button Group
\*------------------------------------*/
.button-group button {
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid #cccccc;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0;
}
.button-group button:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.button-group button:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
/*------------------------------------*\
  $ Media Queries
\*------------------------------------*/
@media (min-width: 767px) {
  /*------------------------------------*\
  	  $ Button group
  	\*------------------------------------*/
  .button-group button {
    width: 100%;
    border-radius: 0;
    border-left: none;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
  }
  .button-group button:first-child {
    border-left: 1px solid #cccccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .button-group button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
