/*------------------------------------*\
  $$ Mugshots
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Imports
 * Font Styles
 * Headers
 */
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Mugshots - Variables
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Padding
 * Colours
 * Borders
 * Fonts
 */
/*------------------------------------*\
  $ Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Fonts
\*------------------------------------*/
/*------------------------------------*\
  $ Font Styles
\*------------------------------------*/
.bold {
  font-weight: 800;
}
li span.bold {
  color: #1e3e4f;
}
/*------------------------------------*\
  $ Headers
\*------------------------------------*/
h1 {
  font-family: 'Londrina Solid', cursive;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  /* #6A4729 */

  line-height: 280%;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 2px #1e3e4f;
}
h2 {
  display: none;
  color: #1e3e4f;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  width: 100%;
  text-align: right;
  margin-top: -20px;
}
