/*------------------------------------*\
  $$ Mugshots
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Imports
 * Font Styles
 * Headers
 */
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Mugshots - Variables
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Padding
 * Colours
 * Borders
 * Fonts
 */
/*------------------------------------*\
  $ Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Fonts
\*------------------------------------*/
/*------------------------------------*\
  $ Font Styles
\*------------------------------------*/
.bold {
  font-weight: 800;
}
li span.bold {
  color: #1e3e4f;
}
/*------------------------------------*\
  $ Headers
\*------------------------------------*/
h1 {
  font-family: 'Londrina Solid', cursive;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  /* #6A4729 */

  line-height: 300%;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 2px #1e3e4f;
}
/*------------------------------------*\
  $ Media Queries
\*------------------------------------*/
@media (min-width: 767px) {
  /*------------------------------------*\
  	  $ Headers
  	\*------------------------------------*/
  h2 {
    font-size: 1rem;
    color: #1e3e4f;
    font-weight: 400;
    margin-top: -7rem;
  }
}
