/*------------------------------------*\
  $$ Mugshots
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS 
 * Imports
 * Clearfix
 * Helper classes
 */
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Mugshots - Variables
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Padding
 * Colours
 * Borders
 * Fonts
 */
/*------------------------------------*\
  $ Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Fonts
\*------------------------------------*/
/*------------------------------------*\
  $ Clearfix
\*------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*------------------------------------*\
  $ Helper classes
\*------------------------------------*/
.left {
  float: left;
}
.right {
  float: right;
}
.padding {
  padding: 12px;
}
.extra-padding {
  padding: 18px;
}
.padding-left {
  padding-left: 12px;
}
.padding-right {
  padding-right: 12px;
}
.margin {
  margin: 12px;
}
.margin-left {
  margin-left: 12px;
}
.margin-right {
  margin-right: 12px;
}
.no-margin {
  margin: 0;
}
.full-width {
  width: 100%;
}
/*------------------------------------*\
  $ Media Queries
\*------------------------------------*/
@media (max-width: 767px) {
  /*------------------------------------*\
  	  $ Helper classes
  	\*------------------------------------*/
  .right,
  .left {
    float: none;
  }
}
