/*------------------------------------*\
  $$ Extend Pure Buttons
  Author: Gareth Davies @garethadavies
\*------------------------------------*/

/*
 * CONTENTS
 * Imports
 * Global Reset & Standards
 * Variables
 */




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import '../_variables.less'; 




/*------------------------------------*\
  $ Buttons
\*------------------------------------*/

.pure-button-custom,
.pure-button-custom:focus {
	background: @white;
	background: linear-gradient(to bottom, @white, @grayFaint);
	border-bottom: @defaultBorderWidth @defaultBorderStyle @bottomBorderColor;
	border-radius: @defaultBorderRadius;
}

.pure-button-custom:hover {
	background: @white;
}




/*------------------------------------*\
  $ Submit Button
\*------------------------------------*/

button[type="submit"],
button[type="submit"]:hover {
	background: linear-gradient(to bottom, lighten(@darkBlue, 10%), @darkBlue);
	color: @white;
	border: none;
}




/*------------------------------------*\
  $ Media Queries
\*------------------------------------*/

@media (max-width: 767px) {

}