/*------------------------------------*\
  $$ Mugshots
  Author: Gareth Davies @garethadavies
\*------------------------------------*/

/*
 * CONTENTS
 * Imports
 * Global Reset & Standards
 * Scaffolding
 * Headers
 * Menu bar
 */




/*------------------------------------*\
  $ Imports
\*------------------------------------*/
 
@import '_variables.less';




/*------------------------------------*\
  $ Global Reset & Standards
\*------------------------------------*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}




/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/

body {
	background: @lightBlue; /* #E0C598 */
}

.page-header {
	overflow: hidden;
}

.inner-page-header {
	margin: 0 auto;
	position: relative;
	/* Bring the mug image in line with the inner-wrapper */
	// left: -30px;
	left: -10px;
  max-width: 800px;
}

.inner-wrapper {
	padding: 0 @defaultPadding*1.5;
	margin: 0 auto;
  max-width: 730px;
}

// Images

img {
	width: 100%;
}




/*------------------------------------*\
  $ Headers
\*------------------------------------*/

.content-header {
	min-height: 60px;
	/*background-color: #ddd;*/
}




/*------------------------------------*\
  $ Menu Bar
\*------------------------------------*/

.menu-bar {
	margin: 0 0 @defaultMargin*2 0;
}

.menu-bar p {
	margin: 0;
	line-height: 2.3rem;
}