/*------------------------------------*\
  $$ Mugshots - Button group
  Author: Gareth Davies @garethadavies
\*------------------------------------*/

/*
 * CONTENTS
 * Imports
 * Button group 
 */




/*------------------------------------*\
  $ Imports
\*------------------------------------*/
 
@import '_variables.less';




/*------------------------------------*\
  $ Button Group
\*------------------------------------*/

.button-group button {
	width: 100%;
	// text-align: left;
	border-radius: 0;
	border-bottom: @defaultBorderWidth @defaultBorderStyle @defaultBorderColor;
  padding-left: @defaultPadding;
  padding-right: @defaultPadding;
  margin: 0;
}

.button-group button:first-child {
	// border-left: @defaultBorderWidth @defaultBorderStyle @defaultBorderColor;
	border-top-left-radius: @defaultBorderRadius;
	border-top-right-radius: @defaultBorderRadius;
}

.button-group button:last-child {
	border-bottom-left-radius: @defaultBorderRadius;
	border-bottom-right-radius: @defaultBorderRadius;
	border-bottom: @defaultBorderWidth @defaultBorderStyle @bottomBorderColor;
}

// Adjust any icon within a button group
.button-group [class^="icon-"]:before,
.button-group [class*=" icon-"]:before {
	// margin-right: 0;
}




/*------------------------------------*\
  $ Media Queries
\*------------------------------------*/

@media (min-width: 767px) {

	/*------------------------------------*\
	  $ Button group
	\*------------------------------------*/

	.button-group button {
		width: 100%;
		// text-align: left;
		border-radius: 0;
		border-left: none;
	  padding-left: @defaultPadding;
	  padding-right: @defaultPadding;
	  margin: 0;
	}

	.button-group button:first-child {
		border-left: @defaultBorderWidth @defaultBorderStyle @defaultBorderColor;
		border-top-left-radius: @defaultBorderRadius;
		border-bottom-left-radius: @defaultBorderRadius;
	}

	.button-group button:last-child {
		border-top-right-radius: @defaultBorderRadius;
		border-bottom-right-radius: @defaultBorderRadius;
	}

	// Adjust any icon within a button group
	.button-group [class^="icon-"]:before,
	.button-group [class*=" icon-"]:before {
		// margin-right: 0;
	}

}