/*------------------------------------*\
  $$ Mugshots
  Author: Gareth Davies @garethadavies
\*------------------------------------*/

/*
 * CONTENTS
 * Imports
 * Items
 * Mugshots 
 */




/*------------------------------------*\
  $ Imports
\*------------------------------------*/
 
@import '_variables.less';




/*------------------------------------*\
  $ Item
\*------------------------------------*/

.item {
	background-color: @white;
	/*border: @defaultBorderWidth @defaultBorderStyle #6A472B;*/
	border-bottom: @defaultBorderWidth @defaultBorderStyle @bottomBorderColor;
	border-radius: @defaultBorderRadius;
	margin: 0 0 @defaultMargin*2 0;
}




/*------------------------------------*\
  $ Mugshots
\*------------------------------------*/

.mugshot header {
	padding: @defaultPadding;
	background-color: @darkBlue;
	color: @white;
	border-radius: @defaultBorderRadius;
	margin-bottom: @defaultMargin;
}