/*------------------------------------*\
  $$ Mugshots
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Imports
 * Items
 * Mugshots 
 */
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Mugshots - Variables
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Padding
 * Colours
 * Borders
 * Fonts
 */
/*------------------------------------*\
  $ Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Fonts
\*------------------------------------*/
/*------------------------------------*\
  $ Item
\*------------------------------------*/
.item {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin: 0 0 24px 0;
}
/*------------------------------------*\
  $ Mugshots
\*------------------------------------*/
.mugshot header {
  padding: 12px;
  background-color: #1e3e4f;
  color: #ffffff;
  border-radius: 3px;
  margin-bottom: 12px;
}
/*------------------------------------*\
  $ Media Queries
\*------------------------------------*/
@media (min-width: 767px) {
  /*------------------------------------*\
  	  $ Item
  	\*------------------------------------*/
  .item-left {
    margin-right: 12px;
  }
  .item-right {
    margin-left: 12px;
  }
}
