@charset "UTF-8";
/*------------------------------------*\
  $$ Just Checking - Fontello
\*------------------------------------*/

/*------------------------------------*\
  $ Font Face
\*------------------------------------*/
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
}





/*------------------------------------*\
  $ Icons
\*------------------------------------*/

.icon-plus:before {
  content: '\2b';
}
/* '+' */
.icon-minus:before {
  content: '\2d';
}
/* '-' */
.icon-info:before {
  content: '\2139';
}
/* 'ℹ' */
.icon-plus-squared:before {
  content: '\229e';
}
/* '⊞' */
.icon-minus-squared:before {
  content: '\229f';
}
/* '⊟' */
.icon-home-1:before {
  content: '\e800';
}
/* '' */
.icon-menu:before {
  content: '\2630';
}
/* '☰' */
.icon-th-list-1:before {
  content: '\e805';
}
/* '' */
.icon-th-list:before {
  content: '\e802';
}
/* '' */
.icon-layout:before {
  content: '\268f';
}
/* '⚏' */
.icon-th:before {
  content: '\e801';
}
/* '' */
.icon-cog:before {
  content: '\2699';
}
/* '⚙' */
.icon-attention:before {
  content: '\26a0';
}
/* '⚠' */
.icon-cog-alt:before {
  content: '\26ef';
}
/* '⛯' */
.icon-mail:before {
  content: '\2709';
}
/* '✉' */
.icon-pencil:before {
  content: '\270e';
}
/* '✎' */
.icon-check:before {
  content: '\2713';
}
/* '✓' */
.icon-ok:before {
  content: '\e803';
}
/* '' */
.icon-ok-circle:before {
  content: '\2714';
}
/* '✔' */
.icon-cancel:before {
  content: '\2715';
}
/* '✕' */
.icon-cancel-circled:before {
  content: '\2716';
}
/* '✖' */
.icon-cancel-squared:before {
  content: '\274e';
}
/* '❎' */
.icon-help:before {
  content: '\2753';
}
/* '❓' */
.icon-plus-circled:before {
  content: '\2795';
}
/* '➕' */
.icon-minus-circled:before {
  content: '\2796';
}
/* '➖' */
.icon-right:before {
  content: '\27a1';
}
/* '➡' */
.icon-ccw:before {
  content: '\27f2';
}
/* '⟲' */
.icon-cw:before {
  content: '\27f3';
}
/* '⟳' */
.icon-left:before {
  content: '\2b05';
}
/* '⬅' */
.icon-up:before {
  content: '\2b06';
}
/* '⬆' */
.icon-down:before {
  content: '\2b07';
}
/* '⬇' */
.icon-list:before {
  content: '\e005';
}
/* '' */
.icon-left-circle:before {
  content: '\e807';
}
/* '' */
.icon-right-circle:before {
  content: '\e808';
}
/* '' */
.icon-up-circle:before {
  content: '\e809';
}
/* '' */
.icon-down-circle:before {
  content: '\e806';
}
/* '' */
.icon-user-add:before {
  content: '\e700';
}
/* '' */
.icon-help-circled:before {
  content: '\e704';
}
/* '' */
.icon-info-circled:before {
  content: '\e705';
}
/* '' */
.icon-eye:before {
  content: '\e70a';
}
/* '' */
.icon-export:before {
  content: '\e715';
}
/* '' */
.icon-trash:before {
  content: '\e729';
}
/* '' */
.icon-logout:before {
  content: '\e741';
}
/* '' */
.icon-arrow-combo:before {
  content: '\e74f';
}
/* '' */
.icon-zoom-in:before {
  content: '\e750';
}
/* '' */
.icon-chart-pie:before {
  content: '\e804';
}
/* '' */
.icon-zoom-out:before {
  content: '\e751';
}
/* '' */
.icon-down-open:before {
  content: '\e75c';
}
/* '' */
.icon-left-open:before {
  content: '\e75d';
}
/* '' */
.icon-right-open:before {
  content: '\e75e';
}
/* '' */
.icon-up-open:before {
  content: '\e75f';
}
/* '' */
.icon-arrows-cw:before {
  content: '\e760';
}
/* '' */
.icon-back-in-time:before {
  content: '\e771';
}
/* '' */
.icon-dot:before {
  content: '\e78b';
}
/* '' */
.icon-dot-2:before {
  content: '\e78c';
}
/* '' */
.icon-dot-3:before {
  content: '\e78d';
}
/* '' */
.icon-facebook-rect:before {
  content: '\f301';
}
/* '' */
.icon-twitter-bird:before {
  content: '\f303';
}
/* '' */
.icon-googleplus-rect:before {
  content: '\f309';
}
/* '' */
.icon-skype:before {
  content: '\f30b';
}
/* '' */
.icon-linkedin-rect:before {
  content: '\f312';
}
/* '' */
.icon-youtube:before {
  content: '\f313';
}
/* '' */
.icon-user:before {
  content: '👤';
}
/* '\1f464' */
.icon-users:before {
  content: '👥';
}
/* '\1f465' */
.icon-monitor:before {
  content: '💻';
}
/* '\1f4bb' */
.icon-calendar:before {
  content: '📅';
}
/* '\1f4c5' */
.icon-chart-line:before {
  content: '📈';
}
/* '\1f4c8' */
.icon-chart:before {
  content: '\e80a';
}
/* '' */
.icon-chart-bar:before {
  content: '📊';
}
/* '\1f4ca' */
.icon-download:before {
  content: '📥';
}
/* '\1f4e5' */
.icon-mobile:before {
  content: '📱';
}
/* '\1f4f1' */
.icon-search:before {
  content: '🔍';
}
/* '\1f50d' */
.icon-lock:before {
  content: '🔒';
}
/* '\1f512' */
.icon-lock-open:before {
  content: '🔓';
}
/* '\1f513' */
.icon-wrench:before {
  content: '🔧';
}
/* '\1f527' */
.icon-chart-area:before {
  content: '🔾';
}
/* '\1f53e' */
.icon-clock:before {
  content: '🕔';
}
/* '\1f554' */
.icon-home:before {
  content: '\e0e0';
}
/* '' */
/*------------------------------------*\
  $ Grip Icon
\*------------------------------------*/
.icon-grip {
  position: relative;
  left: -0.2em;
}
.icon-grip,
.icon-grip:before,
.icon-grip:after {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  text-align: center;
  font-size: 20px;
  font-size: 2.0rem;
  color: #cccccc;
}
.icon-grip:before,
.icon-grip:after {
  content: '\e78c';
}
.icon-grip:before {
  position: relative;
  top: -0.4em;
  left: 1em;
}
.icon-grip:after {
  position: relative;
  top: 0.4em;
  left: -0.6em;
}
