/*------------------------------------*\
  $$ Mugshots
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS 
 * Imports
 */
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Mugshots - Variables
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Padding
 * Colours
 * Borders
 * Fonts
 */
/*------------------------------------*\
  $ Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Fonts
\*------------------------------------*/
/*------------------------------------*\
  $ Lists
\*------------------------------------*/
.no-styling-list {
  margin: 0;
  padding: 0;
}
.no-styling-list li {
  list-style: none;
  line-height: 1.6rem;
}
