/*------------------------------------*\
  $$ Extend Pure Buttons
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Imports
 * Global Reset & Standards
 * Variables
 */
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Mugshots - Variables
  Author: Gareth Davies @garethadavies
\*------------------------------------*/
/*
 * CONTENTS
 * Padding
 * Colours
 * Borders
 * Fonts
 */
/*------------------------------------*\
  $ Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Fonts
\*------------------------------------*/
/*------------------------------------*\
  $ Inputs
\*------------------------------------*/
.pure-form input[type=text],
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form select,
.pure-form textarea {
  border-radius: 3px;
}
/*------------------------------------*\
  $ Labels
\*------------------------------------*/
.pure-form label {
  margin-top: 12px;
}
/*------------------------------------*\
  $ Legends
\*------------------------------------*/
.pure-form legend {
  padding-top: 0;
}
